<div class="header">
  <h1>Meet the Developers</h1>
</div>

<div class="team-section">

  <div class="developer-card">
    <div class="dev-image">
      <div class="image-frame">
        <img src="assets/images/Agres.jpg" alt="Member 1">
      </div>
    </div>
    <div class="dev-info">
      <h4>Member 1</h4>
      <h2>Name: Agres, Shawn Andrei Paolo</h2>
      <h3>Program: BSIT</h3>
      <h3>Course/Section: IT 005 - IT1S2</h3>
      <p>
        I’m currently a junior in college, pursuing a Bachelor’s degree in the Information Technology program at the Technological Institute of the Philippines (T.I.P.). Over the years I’ve been a member or leader in various projects throughout my time as a student, wherein I’ve contributed in the research, development, and deployment of various applications using a wide variety of programming languages and software. 
      </p>
    </div>
  </div>

  <div class="developer-card">
    <div class="dev-image">
      <div class="image-frame">
        <img src="assets/images/Sumayod.jpg" alt="Member 2">
      </div>
    </div>
    <div class="dev-info">
      <h4>Member 2</h4>
      <h2>Name: Sumayod, Lee Andre</h2>
      <h3>Program: BSIT</h3>
      <h3>Course/Section: IT 005 - IT1S2</h3>
      <p>
        BSIT student at the Technological Institute of the Philippines (T.I.P.) with a passion for networking, programming, and sustainable tech solutions.
Led a research project on Sustainable Water-Based Food Production: A Case Study of Aquaponics as Integrated Indoor Farming in the Philippines, exploring tech-driven agriculture for food security.
Seeking opportunities to apply coding skills in real-world systems while continuously leveling up both technically and personally.
      </p>
    </div>
  </div>
</div>
