<ion-toolbar>
  <ion-buttons slot="start" class="menu-toggle">
    <ion-menu-button autoHide="false" color="light"></ion-menu-button>
  </ion-buttons>

  <ion-title class="logo">Pizza Shop Title Shit</ion-title>

  <div class="nav-actions" slot="end">
    <ion-button fill="clear" class="nav-link" routerLink="/home" routerLinkActive="active">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-button>
    <ion-button fill="clear" class="nav-link" routerLink="/menu" routerLinkActive="active">
      <ion-icon name="restaurant-outline"></ion-icon>
      Menu
    </ion-button>
    <ion-button fill="clear" class="nav-link" routerLink="/about" routerLinkActive="active">
      <ion-icon name="information-circle-outline"></ion-icon>
      About Us
    </ion-button>
    <ion-button fill="clear" class="nav-link" routerLink="/cart" routerLinkActive="active">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </div>
</ion-toolbar>