<ion-content class="login-content" fullscreen>
  <div class="form-container" style="padding-top: 100px;">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="title">Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="login()">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>

          <div class="text-button" (click)="login()">Login</div>

          <p class="register-link">
            Don't have an account?
            <a (click)="goToRegister()">Register here</a>
          </p>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
