.menu-content {
  --background: #b22222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 16px;
}

.user-section {
  padding: 16px;
  text-align: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  color: #fff;
  font-weight: bold;
}
