<div class="header">
  <h1>Meet the Developers</h1>
</div>

<div class="team-section">

  <div class="developer-card">
    <div class="dev-image">
      <div class="image-frame">
        <img src="assets/images/Agres.jpg" alt="Member 1">
      </div>
    </div>
    <div class="dev-info">
      <h4>Member 1</h4>
      <h2>Name: Agres, Shawn Andrei Paolo</h2>
      <h3>Program: BSIT</h3>
      <h3>Course/Section: IT 005 - IT1S2</h3>
      <p>
        John contributes to the design and functionality of the Pizza Palace app,
        helping ensure a seamless and efficient experience for users.
      </p>
    </div>
  </div>

  <div class="developer-card">
    <div class="dev-image">
      <div class="image-frame">
        <img src="assets/images/Sumayod.jpg" alt="Member 2">
      </div>
    </div>
    <div class="dev-info">
      <h4>Member 2</h4>
      <h2>Name: Sumayod, Lee Andre</h2>
      <h3>Program: BSIT</h3>
      <h3>Course/Section: IT 005 - IT1S2</h3>
      <p>
        Jane works alongside the team to refine the app’s design, maintaining the
        balance between aesthetics and usability across all devices.
      </p>
    </div>
  </div>
</div>
